---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div style="text-align:center; margin:1em 0;">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Atuv7xCIwj9dssvmKiE8vt7RUdyQHYLQ6Tc74UxQbRU&cl=ffffff&w=a"></script>
  </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
